<nav class="navbar navbar-expand fixed-top  navbar-dark bg-dark px-2">
    <div class="side-bar-button p-2 me-3 text-light">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="col-md-4 offset-5 display-6" style="color:bisque">Resume Builder</div>
    <a class="navbar-brand px-4"></a>
       <!-- <div class="navbar-collapse">
           <ul class="navbar-nav me-auto" style="margin:auto;align-items:end">
               <li class="nav-item">
                   <a href="#" class="nav-link" role="button"> Templates</a>
               </li>
           </ul>
       </div> -->
</nav>