<div class="overflow-auto bg-light">
    <!-- <h1>PERSONAL </h1> -->
    <!-- <form [formGroup]="personalDetailsFormGroup"> -->
        <div class="card card-body">
           
            <div class="card" *ngFor="let eachTemplate of templates;let i=index">
<img src="{{eachTemplate.image}}" alt="Reload Again">
            </div>
            <div class="form-group row mb-3">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-dark" (click)="savePersonalDetails($event)">Submit</button>
                </div>
                <div class="col-lg-4">
                </div>
            </div>

        </div>
    <!-- </form> -->

</div>